:root {
  --main-cl-1: #fda214;
  --main-cl-hv: #ffb84a;
  --main-cl-2: #bcced9;
  --main-cl-3: #304859;
  --main-cl-4: #152938;

  --sub-cl-1: #f2f2f2;
  --sub-cl-2: #fcfcfc;
  --sub-cl-3: #7191a5;
  --sub-cl-4: #6395b8;

  --el-radius: 1.25rem;
}
