.game-page {
  height: 100vh;
  overflow: hidden;
  .container {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    justify-content: space-between;
    padding-block: 2rem;
    height: 100vh;
  }
}
